# Correlation unemployment / GDP
We want to know if there is a correlation between the GDP per capita and the unemployment rate.

In [1]:
import os

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline  

BASE = os.path.join(os.pardir, "data")

In [8]:
# Open file

gdp = pd.read_pickle(os.path.join(BASE, "pickles", "GDP_DE_EL_EU.pkl"))
uep = pd.read_pickle(os.path.join(BASE, "pickles", "total_unemployment_rate.pkl"))

gdp.head()

  geo  time  value
0  DE  2005  32236
1  DE  2006  34624
2  DE  2007  36820
3  DE  2008  38432
4  DE  2009  37501

In [9]:
uep.head()

     2008  2009  2010  2011  2012  2013  2014  2015  2016  2017  2018  2019
geo
AT    4.1   5.3   4.8   4.6   4.9   5.4   5.6   5.7   6.0   5.5   4.9   4.5
BE    7.0   7.9   8.3   7.2   7.6   8.4   8.5   8.5   7.8   7.1   6.0   5.4
BG    5.6   6.8  10.3  11.3  12.3  13.0  11.4   9.2   7.6   6.2   5.2   4.2
CH    NaN   NaN   4.8   4.4   4.5   4.8   4.9   4.8   5.0   4.8   4.7   4.4
CY    3.7   5.4   6.3   7.9  11.9  15.9  16.1  15.0  13.0  11.1   8.4   7.1