# Correlation unemployment / GDP
We want to know if there is a correlation between the GDP per capita and the unemployment rate.

In [1]:
import os

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline  

BASE = os.path.join(os.pardir, "data")

In [5]:
# Open file

gdp = pd.read_pickle(os.path.join(BASE, "pickles", "GDP_DE_EL_EU.pkl"))
uep = pd.read_csv(os.path.join(BASE, "pickles", "Clean_Ger_unemplymt.csv"), 
                  index_col=0)

gdp.head()

  geo  time  value
0  DE  2005  32236
1  DE  2006  34624
2  DE  2007  36820
3  DE  2008  38432
4  DE  2009  37501

In [6]:
uep.head()

   Year  Percentage
0  2008         7.5
1  2009         7.8
2  2010         7.0
3  2011         5.8
4  2012         5.4