# Clean GDP data
We would like to compare unemployment numbers with GDP data. The data here comes from the OECD. https://data.oecd.org/gdp/gross-domestic-product-gdp.htm

In [1]:
import os

import pandas as pd
import numpy as np

BASE = os.path.join(os.pardir, "data")

In [2]:
# Open file
filename = "GDP_data.csv"
df = pd.read_csv(os.path.join(BASE, filename))

df.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME      Value Flag Codes
0      AUS       GDP     TOT  MLN_USD         A  1960  25034.740        NaN
1      AUS       GDP     TOT  MLN_USD         A  1961  25326.382        NaN
2      AUS       GDP     TOT  MLN_USD         A  1962  27913.206        NaN
3      AUS       GDP     TOT  MLN_USD         A  1963  30385.723        NaN
4      AUS       GDP     TOT  MLN_USD         A  1964  32694.467        NaN

In [3]:
# Check what countries are in the dataset
df["LOCATION"].unique()

array(['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IRL', 'ITA', 'JPN', 'KOR', 'LUX', 'MEX',
       'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SVK', 'ESP', 'SWE', 'CHE',
       'TUR', 'GBR', 'USA', 'CHL', 'CHN', 'COL', 'EST', 'IND', 'IDN',
       'ISR', 'RUS', 'SVN', 'ZAF', 'DEW', 'EU28', 'OECD', 'OECDE', 'LVA',
       'BRA', 'LTU', 'SAU', 'EA19', 'ARG', 'CRI', 'BGR', 'HRV', 'CYP',
       'MLT', 'PER', 'ROU', 'MKD', 'ZMB', 'HKG', 'MDG', 'MAR', 'SGP'],
      dtype=object)

In [6]:
# Drop everything except Greece, Germany and EU28
keep = ["DEU", "GRC", "EU28"]
outside = [_ for _ in df["LOCATION"].unique() if _ not in keep]

df.drop(df.loc[df["LOCATION"].isin(outside)].index, inplace=True)

In [9]:
# Use country codes as in other files
df["LOCATION"] = df["LOCATION"].replace({"GRC": "EL", "DEU": "DE"})

In [10]:
# Keep only USD per capita
df.drop(df.loc[df["MEASURE"] == "MLN_USD"].index, inplace=True)

In [11]:
# Drop columns
cols = ["INDICATOR", "SUBJECT", "MEASURE", "FREQUENCY", "Flag Codes"]

# And narrow down the timeframe
df = (df[df["TIME"].between(2005, 2020)]
      .drop(columns=cols)
      .reset_index(drop=True))

In [12]:
# Round values as integer
df["Value"] = df["Value"].astype("int64")

In [13]:
# Clean up column names
df.columns = df.columns.str.lower()
df.rename(columns={"location": "geo"}, inplace=True)

In [14]:
df.head()

  geo  time  value
0  DE  2005  32236
1  DE  2006  34624
2  DE  2007  36820
3  DE  2008  38432
4  DE  2009  37501

In [15]:
# Export
df.to_pickle(os.path.join(BASE, "pickles", "GDP_DE_EL_EU.pkl"))