# Filter for sex per country

In [71]:
import os

import pandas as pd

BASE = os.path.join(os.pardir, "data")

In [73]:
filename = "teilm022.pkl"
df = pd.read_pickle(os.path.join(BASE, 
                                 "pickles", 
                                 filename))
df.head()

,s_adj,age,sex,unit,geo,2019m09,2019m10,2019m11,2019m12,2020m01,2020m02,2020m03,2020m04,2020m05,2020m06,2020m07,2020m08
0,SA,Y25-74,F,PC_ACT,AT,3.7,3.8,3.7,3.7,3.7,3.6,3.7,4.0,4.2,4.1,3.9,NaN
1,SA,Y25-74,F,PC_ACT,BE,4.3,4.1,3.9,3.9,4.1,4.2,4.4,4.5,4.4,4.4,4.4,NaN
2,SA,Y25-74,F,PC_ACT,BG,3.5,3.6,3.6,3.5,3.8,3.6,3.6,4.2,4.0,3.9,3.9,NaN
3,SA,Y25-74,F,PC_ACT,CH,4.0,3.8,3.6,3.7,4.0,4.1,4.1,4.0,4.1,4.2,NaN,NaN
4,SA,Y25-74,F,PC_ACT,CY,7.0,6.8,6.6,6.3,6.0,5.6,5.9,7.3,7.3,6.1,5.3,NaN

In [74]:
# Save the parameters in case we need to reference
params = df.iloc[0][0:4]
# Check how what unique values
df["sex"].unique()

array(['F', 'M', 'T'], dtype=object)

In [75]:
df = df.drop(columns=["s_adj", "age", "unit"])

In [76]:
# Take average of year data
df["mean"] = df[df.columns[2:]].mean(axis=1)

In [77]:
# Transform the table
df = (df
     .drop(columns=t.columns[2:-1])
     .pivot(index="geo", columns="sex", values="mean")
     .round(2))
df

sex            F      M      T
geo
AT          3.83   4.15   4.01
BE          4.24   4.83   4.56
BG          3.75   4.25   4.03
CH          3.96   3.71   3.81
CY          6.38   5.63   6.00
CZ          2.26   1.75   1.98
DE          3.16   3.67   3.44
DK          4.76   3.86   4.29
EA          7.06   6.28   6.66
EA18        7.07   6.28   6.66
EA19        7.06   6.28   6.66
EE          4.59   4.77   4.70
EL         19.05  12.74  15.51
ES         14.91  11.65  13.16
EU27_2007   5.72   5.12   5.40
EU27_2020   6.25   5.59   5.90
EU28        5.72   5.12   5.40
FI          5.28   5.71   5.52
FR          6.44   6.42   6.40
HR          6.65   5.70   6.15
HU          3.43   3.00   3.20
IE          3.62   4.02   3.85
IS          3.14   2.71   2.91
IT          9.67   7.45   8.43
LT          5.67   7.17   6.44
LU          5.17   5.14   5.16
LV          5.93   7.75   6.83
MT          3.73   2.78   3.15
NL          2.68   2.65   2.66
NO          2.76   3.28   3.03
PL          2.80   2.48   2.62
PT          5.98   5.34   5.65
RO          2.96   3.97   3.53
SE          5.82   5.67   5.73
SI          4.60   3.52   4.03
SK          5.65   5.12   5.35
TR           NaN    NaN  11.20
UK          2.64   2.74   2.69
US          6.16   5.55   5.85

In [80]:
# Export
df.to_pickle(os.path.join(BASE, "analysis", "filterd_sex_country.pkl"))