In [21]:
import pandas as pd
import numpy as np
import re
import os

In [22]:
def list_tsv():
    """Return list of tsv files"""
    base = os.path.join(os.pardir, "data")
    return [x for x in os.listdir(os.path.join(base, "tsv"))]

In [23]:
list_tsv()

['teilm021.tsv', 'teilm022.tsv', 'tepsr_wc120.tsv', 'tps00203.tsv']

In [60]:
new = pd.read_csv("../data/other_tsv/lfsq_pganws.tsv", sep='\t')

In [61]:
new.iloc[2000:2005]

,"unit,sex,citizen,age,wstatus,geo\time",2020Q2,2020Q1,2019Q4,2019Q3,2019Q2,2019Q1,2018Q4,2018Q3,2018Q2,...,2000Q2,2000Q1,1999Q4,1999Q3,1999Q2,1999Q1,1998Q4,1998Q3,1998Q2,1998Q1
2000,"THS,F,EU15_FOR,Y25-59,ACT,MK",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2001,"THS,F,EU15_FOR,Y25-59,ACT,MT",:,:,6.1,7.5,8.3,7.5,6.5,6.6,4.1,...,:,:,:,:,:,:,:,:,:,:
2002,"THS,F,EU15_FOR,Y25-59,ACT,NL",:,:,69.1,69.8,68.8,65.0,60.9,60.1,65.4,...,50.3,43.9,:,:,51.1,:,:,:,:,:
2003,"THS,F,EU15_FOR,Y25-59,ACT,NO",:,:,45.6,48.6,46.7,45.9,47.5,44.7,42.6,...,15.9,15.9,:,:,15.3,:,:,:,12.0,:
2004,"THS,F,EU15_FOR,Y25-59,ACT,PL",:,:,: c,: c,: c,:,: c,: c,: c,...,:,:,:,:,:,:,:,:,:,:

In [63]:
ltubysex = pd.read_csv("../data/other_tsv/sdg_08_40.tsv", sep='\t')
ltubysex

,"indic_em,age,unit,sex,geo\time",2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"LTU,Y15-74,PC_ACT,F,AT",:,:,1.1,1.0,1.6 b,1.5,1.4,1.5 b,1.0,...,1.0,1.1,1.1,1.2,1.4,1.4,1.7,1.7,1.3,1.0
1,"LTU,Y15-74,PC_ACT,F,BE",4.7,3.5 b,4.3,4.2,4.7,5.0,4.9,4.3,3.6,...,4.1,3.6,3.2,3.7,3.8,3.9,3.8,3.2 b,2.6,2.1
2,"LTU,Y15-74,PC_ACT,F,BG",9.4,11.9 b,11.4,8.6,7.0,6.0,5.3,4.5,3.1,...,4.4 b,5.5 b,5.8,6.6,6.0,5.0,4.1,3.2,2.6,2.2
3,"LTU,Y15-74,PC_ACT,F,CH",:,:,:,:,:,:,:,:,:,...,1.9 b,1.7,1.6,1.7,1.9,1.9,1.9,1.9,1.9,1.7
4,"LTU,Y15-74,PC_ACT,F,CY",:,:,:,:,:,1.8,1.2,0.7 u,0.5 u,...,1.3,1.5,3.1,5.6,7.0,6.2,5.1,4.0,2.8,2.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,"LTU,Y15-74,PC_ACT,T,SE",:,1.0 b,1.0,1.0,1.3,:,:,0.8,0.8,...,1.6,1.5,1.5,1.4,1.4,1.5,1.3,1.2,1.1 b,0.9
110,"LTU,Y15-74,PC_ACT,T,SI",4.1,3.7,3.5,3.5,3.3,3.1,2.9,2.2,1.9,...,3.2,3.6,4.3,5.2,5.3,4.7,4.3,3.1,2.2,1.9
111,"LTU,Y15-74,PC_ACT,T,SK",10.1,11.3,12.2,11.4 b,11.8,11.7,10.2,8.3,6.6,...,9.2,9.2 b,9.4,10.0,9.3,7.6,5.8,5.1,4.0,3.4
112,"LTU,Y15-74,PC_ACT,T,TR",:,:,:,:,:,:,2.7,2.3,2.3,...,2.8,2.1,1.8,1.9,2.0 b,2.2,2.2,2.4,2.4,3.2
113,"LTU,Y15-74,PC_ACT,T,UK",1.5,1.3,1.1,1.1,1.0 b,1.0,1.2,1.3 b,1.4 b,...,2.5,2.7,2.7,2.7,2.2,1.6,1.3,1.1,1.1,0.9

In [64]:
ltubysex[['indic_em', 'Age_group','Unit',"Sex","Geo_time"]] = ltubysex.iloc[:,0].str.split(",", expand=True)

In [65]:
ltubysex

,"indic_em,age,unit,sex,geo\time",2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,indic_em,Age_group,Unit,Sex,Geo_time
0,"LTU,Y15-74,PC_ACT,F,AT",:,:,1.1,1.0,1.6 b,1.5,1.4,1.5 b,1.0,...,1.4,1.7,1.7,1.3,1.0,LTU,Y15-74,PC_ACT,F,AT
1,"LTU,Y15-74,PC_ACT,F,BE",4.7,3.5 b,4.3,4.2,4.7,5.0,4.9,4.3,3.6,...,3.9,3.8,3.2 b,2.6,2.1,LTU,Y15-74,PC_ACT,F,BE
2,"LTU,Y15-74,PC_ACT,F,BG",9.4,11.9 b,11.4,8.6,7.0,6.0,5.3,4.5,3.1,...,5.0,4.1,3.2,2.6,2.2,LTU,Y15-74,PC_ACT,F,BG
3,"LTU,Y15-74,PC_ACT,F,CH",:,:,:,:,:,:,:,:,:,...,1.9,1.9,1.9,1.9,1.7,LTU,Y15-74,PC_ACT,F,CH
4,"LTU,Y15-74,PC_ACT,F,CY",:,:,:,:,:,1.8,1.2,0.7 u,0.5 u,...,6.2,5.1,4.0,2.8,2.3,LTU,Y15-74,PC_ACT,F,CY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,"LTU,Y15-74,PC_ACT,T,SE",:,1.0 b,1.0,1.0,1.3,:,:,0.8,0.8,...,1.5,1.3,1.2,1.1 b,0.9,LTU,Y15-74,PC_ACT,T,SE
110,"LTU,Y15-74,PC_ACT,T,SI",4.1,3.7,3.5,3.5,3.3,3.1,2.9,2.2,1.9,...,4.7,4.3,3.1,2.2,1.9,LTU,Y15-74,PC_ACT,T,SI
111,"LTU,Y15-74,PC_ACT,T,SK",10.1,11.3,12.2,11.4 b,11.8,11.7,10.2,8.3,6.6,...,7.6,5.8,5.1,4.0,3.4,LTU,Y15-74,PC_ACT,T,SK
112,"LTU,Y15-74,PC_ACT,T,TR",:,:,:,:,:,:,2.7,2.3,2.3,...,2.2,2.2,2.4,2.4,3.2,LTU,Y15-74,PC_ACT,T,TR
113,"LTU,Y15-74,PC_ACT,T,UK",1.5,1.3,1.1,1.1,1.0 b,1.0,1.2,1.3 b,1.4 b,...,1.6,1.3,1.1,1.1,0.9,LTU,Y15-74,PC_ACT,T,UK

In [66]:
ltubysex1 = ltubysex[["indic_em","Age_group","Unit","Sex","Geo_time","2000 ", "2001 ", "2002 ", "2003 ", "2004 ", "2005 ", "2006 ", "2007 ", "2008 ","2009 ","2010 ", "2011 ","2012 ","2013 ","2014 ","2015 ","2016 ","2017 ","2018 ","2019 "]]

In [67]:
ltubysex1.head()

,indic_em,Age_group,Unit,Sex,Geo_time,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,LTU,Y15-74,PC_ACT,F,AT,:,:,1.1,1.0,1.6 b,...,1.0,1.1,1.1,1.2,1.4,1.4,1.7,1.7,1.3,1.0
1,LTU,Y15-74,PC_ACT,F,BE,4.7,3.5 b,4.3,4.2,4.7,...,4.1,3.6,3.2,3.7,3.8,3.9,3.8,3.2 b,2.6,2.1
2,LTU,Y15-74,PC_ACT,F,BG,9.4,11.9 b,11.4,8.6,7.0,...,4.4 b,5.5 b,5.8,6.6,6.0,5.0,4.1,3.2,2.6,2.2
3,LTU,Y15-74,PC_ACT,F,CH,:,:,:,:,:,...,1.9 b,1.7,1.6,1.7,1.9,1.9,1.9,1.9,1.9,1.7
4,LTU,Y15-74,PC_ACT,F,CY,:,:,:,:,:,...,1.3,1.5,3.1,5.6,7.0,6.2,5.1,4.0,2.8,2.3

In [68]:
ltubysex1.columns = ltubysex1.columns.str.strip()
ltubysex1.columns

Index(['indic_em', 'Age_group', 'Unit', 'Sex', 'Geo_time', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

In [69]:
ltubysex1.dtypes

indic_em     object
Age_group    object
Unit         object
Sex          object
Geo_time     object
2000         object
2001         object
2002         object
2003         object
2004         object
2005         object
2006         object
2007         object
2008         object
2009         object
2010         object
2011         object
2012         object
2013         object
2014         object
2015         object
2016         object
2017         object
2018         object
2019         object
dtype: object

In [70]:
ltubysex1['2001'].value_counts()

:         57
11.3       3
3.4        2
0.9        2
0.8        2
1.5        2
0.4        2
1.3        2
7.2        1
3.1        1
2.7        1
2.5        1
2.1 b      1
3.5 b      1
5.9        1
1.2 b      1
12.6 b     1
3.6        1
5.5 b      1
3.0 b      1
2.9 b      1
3.5        1
2.3        1
0.8 b      1
9.2 b      1
3.7        1
2.6 b      1
9.1 b      1
5.2        1
1.7        1
10.8 b     1
7.8 b      1
1.2        1
11.9 b     1
4.0        1
1.0        1
13.2 b     1
4.5        1
6.1 b      1
4.2        1
3.3 b      1
0.3 u      1
1.9        1
2.3 b      1
1.0 b      1
8.1        1
3.8 b      1
5.5        1
3.2 b      1
6.4        1
Name: 2001, dtype: int64

In [71]:
# Turn Years into numerics
ltubysex1['2002'] = pd.to_numeric(ltubysex1['2002'], errors='coerce')

<ipython-input-71-d41912d02369>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ltubysex1['2002'] = pd.to_numeric(ltubysex1['2002'], errors='coerce')

In [72]:
ltubysex1.head()

,indic_em,Age_group,Unit,Sex,Geo_time,2000,2001,2002,2003,2004,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,LTU,Y15-74,PC_ACT,F,AT,:,:,1.1,1.0,1.6 b,...,1.0,1.1,1.1,1.2,1.4,1.4,1.7,1.7,1.3,1.0
1,LTU,Y15-74,PC_ACT,F,BE,4.7,3.5 b,4.3,4.2,4.7,...,4.1,3.6,3.2,3.7,3.8,3.9,3.8,3.2 b,2.6,2.1
2,LTU,Y15-74,PC_ACT,F,BG,9.4,11.9 b,11.4,8.6,7.0,...,4.4 b,5.5 b,5.8,6.6,6.0,5.0,4.1,3.2,2.6,2.2
3,LTU,Y15-74,PC_ACT,F,CH,:,:,NaN,:,:,...,1.9 b,1.7,1.6,1.7,1.9,1.9,1.9,1.9,1.9,1.7
4,LTU,Y15-74,PC_ACT,F,CY,:,:,NaN,:,:,...,1.3,1.5,3.1,5.6,7.0,6.2,5.1,4.0,2.8,2.3

In [73]:
def simplify_col(col):
    """Return column as series with dtype float."""
    
    def _split_str(x):
        x = x.split()
        return x[0] if isinstance(x, list) else x
    
    col = (np.where(col.str.contains(":"), 
                        pd.NA, 
                        col
                        .apply(_split_str)))    
    return pd.to_numeric(col, errors="coerce")

In [74]:
pd.DataFrame(simplify_col(ltubysex1['2001']))

        0
0     NaN
1     3.5
2    11.9
3     NaN
4     NaN
..    ...
109   1.0
110   3.7
111  11.3
112   NaN
113   1.3

[114 rows x 1 columns]

In [75]:
pd.read_pickle(r'../data/pickles/teilm022.tsv.pkl')

,s_adj,age,sex,unit,geo,2019m09,2019m10,2019m11,2019m12,2020m01,2020m02,2020m03,2020m04,2020m05,2020m06,2020m07,2020m08
0,SA,Y25-74,F,PC_ACT,AT,"SA,Y25-74,F,PC_ACT,AT","SA,Y25-74,F,PC_ACT,AT","SA,Y25-74,F,PC_ACT,AT","SA,Y25-74,F,PC_ACT,AT","SA,Y25-74,F,PC_ACT,AT","SA,Y25-74,F,PC_ACT,AT","SA,Y25-74,F,PC_ACT,AT","SA,Y25-74,F,PC_ACT,AT","SA,Y25-74,F,PC_ACT,AT","SA,Y25-74,F,PC_ACT,AT","SA,Y25-74,F,PC_ACT,AT","SA,Y25-74,F,PC_ACT,AT"
1,SA,Y25-74,F,PC_ACT,BE,"SA,Y25-74,F,PC_ACT,BE","SA,Y25-74,F,PC_ACT,BE","SA,Y25-74,F,PC_ACT,BE","SA,Y25-74,F,PC_ACT,BE","SA,Y25-74,F,PC_ACT,BE","SA,Y25-74,F,PC_ACT,BE","SA,Y25-74,F,PC_ACT,BE","SA,Y25-74,F,PC_ACT,BE","SA,Y25-74,F,PC_ACT,BE","SA,Y25-74,F,PC_ACT,BE","SA,Y25-74,F,PC_ACT,BE","SA,Y25-74,F,PC_ACT,BE"
2,SA,Y25-74,F,PC_ACT,BG,"SA,Y25-74,F,PC_ACT,BG","SA,Y25-74,F,PC_ACT,BG","SA,Y25-74,F,PC_ACT,BG","SA,Y25-74,F,PC_ACT,BG","SA,Y25-74,F,PC_ACT,BG","SA,Y25-74,F,PC_ACT,BG","SA,Y25-74,F,PC_ACT,BG","SA,Y25-74,F,PC_ACT,BG","SA,Y25-74,F,PC_ACT,BG","SA,Y25-74,F,PC_ACT,BG","SA,Y25-74,F,PC_ACT,BG","SA,Y25-74,F,PC_ACT,BG"
3,SA,Y25-74,F,PC_ACT,CH,"SA,Y25-74,F,PC_ACT,CH","SA,Y25-74,F,PC_ACT,CH","SA,Y25-74,F,PC_ACT,CH","SA,Y25-74,F,PC_ACT,CH","SA,Y25-74,F,PC_ACT,CH","SA,Y25-74,F,PC_ACT,CH","SA,Y25-74,F,PC_ACT,CH","SA,Y25-74,F,PC_ACT,CH","SA,Y25-74,F,PC_ACT,CH","SA,Y25-74,F,PC_ACT,CH","SA,Y25-74,F,PC_ACT,CH","SA,Y25-74,F,PC_ACT,CH"
4,SA,Y25-74,F,PC_ACT,CY,"SA,Y25-74,F,PC_ACT,CY","SA,Y25-74,F,PC_ACT,CY","SA,Y25-74,F,PC_ACT,CY","SA,Y25-74,F,PC_ACT,CY","SA,Y25-74,F,PC_ACT,CY","SA,Y25-74,F,PC_ACT,CY","SA,Y25-74,F,PC_ACT,CY","SA,Y25-74,F,PC_ACT,CY","SA,Y25-74,F,PC_ACT,CY","SA,Y25-74,F,PC_ACT,CY","SA,Y25-74,F,PC_ACT,CY","SA,Y25-74,F,PC_ACT,CY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,SA,Y25-74,T,PC_ACT,SI,"SA,Y25-74,T,PC_ACT,SI","SA,Y25-74,T,PC_ACT,SI","SA,Y25-74,T,PC_ACT,SI","SA,Y25-74,T,PC_ACT,SI","SA,Y25-74,T,PC_ACT,SI","SA,Y25-74,T,PC_ACT,SI","SA,Y25-74,T,PC_ACT,SI","SA,Y25-74,T,PC_ACT,SI","SA,Y25-74,T,PC_ACT,SI","SA,Y25-74,T,PC_ACT,SI","SA,Y25-74,T,PC_ACT,SI","SA,Y25-74,T,PC_ACT,SI"
111,SA,Y25-74,T,PC_ACT,SK,"SA,Y25-74,T,PC_ACT,SK","SA,Y25-74,T,PC_ACT,SK","SA,Y25-74,T,PC_ACT,SK","SA,Y25-74,T,PC_ACT,SK","SA,Y25-74,T,PC_ACT,SK","SA,Y25-74,T,PC_ACT,SK","SA,Y25-74,T,PC_ACT,SK","SA,Y25-74,T,PC_ACT,SK","SA,Y25-74,T,PC_ACT,SK","SA,Y25-74,T,PC_ACT,SK","SA,Y25-74,T,PC_ACT,SK","SA,Y25-74,T,PC_ACT,SK"
112,SA,Y25-74,T,PC_ACT,TR,"SA,Y25-74,T,PC_ACT,TR","SA,Y25-74,T,PC_ACT,TR","SA,Y25-74,T,PC_ACT,TR","SA,Y25-74,T,PC_ACT,TR","SA,Y25-74,T,PC_ACT,TR","SA,Y25-74,T,PC_ACT,TR","SA,Y25-74,T,PC_ACT,TR","SA,Y25-74,T,PC_ACT,TR","SA,Y25-74,T,PC_ACT,TR","SA,Y25-74,T,PC_ACT,TR","SA,Y25-74,T,PC_ACT,TR","SA,Y25-74,T,PC_ACT,TR"
113,SA,Y25-74,T,PC_ACT,UK,"SA,Y25-74,T,PC_ACT,UK","SA,Y25-74,T,PC_ACT,UK","SA,Y25-74,T,PC_ACT,UK","SA,Y25-74,T,PC_ACT,UK","SA,Y25-74,T,PC_ACT,UK","SA,Y25-74,T,PC_ACT,UK","SA,Y25-74,T,PC_ACT,UK","SA,Y25-74,T,PC_ACT,UK","SA,Y25-74,T,PC_ACT,UK","SA,Y25-74,T,PC_ACT,UK","SA,Y25-74,T,PC_ACT,UK","SA,Y25-74,T,PC_ACT,UK"
114,SA,Y25-74,T,PC_ACT,US,"SA,Y25-74,T,PC_ACT,US","SA,Y25-74,T,PC_ACT,US","SA,Y25-74,T,PC_ACT,US","SA,Y25-74,T,PC_ACT,US","SA,Y25-74,T,PC_ACT,US","SA,Y25-74,T,PC_ACT,US","SA,Y25-74,T,PC_ACT,US","SA,Y25-74,T,PC_ACT,US","SA,Y25-74,T,PC_ACT,US","SA,Y25-74,T,PC_ACT,US","SA,Y25-74,T,PC_ACT,US","SA,Y25-74,T,PC_ACT,US"

In [78]:
# Import data
harmonized25_74 = pd.read_csv('../data/other_tsv/teilm022.tsv', sep='\t')
harmonized25_74

,"s_adj,age,sex,unit,geo\time",2019M09,2019M10,2019M11,2019M12,2020M01,2020M02,2020M03,2020M04,2020M05,2020M06,2020M07,2020M08
0,"SA,Y25-74,F,PC_ACT,AT",3.7,3.8,3.7,3.7,3.7,3.6,3.7,4.0,4.2,4.1,3.9,:
1,"SA,Y25-74,F,PC_ACT,BE",4.3,4.1,3.9,3.9,4.1,4.2,4.4,4.5,4.4,4.4,4.4,:
2,"SA,Y25-74,F,PC_ACT,BG",3.5,3.6,3.6,3.5,3.8,3.6,3.6,4.2,4.0,3.9,3.9,:
3,"SA,Y25-74,F,PC_ACT,CH",4.0,3.8,3.6,3.7,4.0,4.1,4.1,4.0,4.1,4.2,:,:
4,"SA,Y25-74,F,PC_ACT,CY",7.0,6.8,6.6,6.3,6.0,5.6,5.9,7.3,7.3,6.1,5.3,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,"SA,Y25-74,T,PC_ACT,SI",4.5,4.1,3.8,3.5,3.8,3.7,3.8,4.3,4.3,4.3,4.2,:
111,"SA,Y25-74,T,PC_ACT,SK",5.0,4.9,4.9,4.9,5.4,5.4,5.2,5.7,5.8,5.8,5.9,:
112,"SA,Y25-74,T,PC_ACT,TR",11.6,11.5,11.2,11.1,10.7,10.6,10.8,11.5,11.8,:,:,:
113,"SA,Y25-74,T,PC_ACT,UK",2.7,2.7,2.6,2.7,2.8,2.8,2.7,2.6,2.6,:,:,:
114,"SA,Y25-74,T,PC_ACT,US",2.9,2.9,2.9,2.8,2.9,2.9,3.5,13.1,11.6,9.7,9.1,:

In [81]:
# Split first column
harmonized25_74[['s_adj', 'Age_group','Unit',"Sex","Geo_time"]] = ltubysex.iloc[:,0].str.split(",", expand=True)
harmonized25_74

,"s_adj,age,sex,unit,geo\time",2019M09,2019M10,2019M11,2019M12,2020M01,2020M02,2020M03,2020M04,2020M05,2020M06,2020M07,2020M08,indic_em,Age_group,Unit,Sex,Geo_time,s_adj
0,"SA,Y25-74,F,PC_ACT,AT",3.7,3.8,3.7,3.7,3.7,3.6,3.7,4.0,4.2,4.1,3.9,:,LTU,Y15-74,PC_ACT,F,AT,LTU
1,"SA,Y25-74,F,PC_ACT,BE",4.3,4.1,3.9,3.9,4.1,4.2,4.4,4.5,4.4,4.4,4.4,:,LTU,Y15-74,PC_ACT,F,BE,LTU
2,"SA,Y25-74,F,PC_ACT,BG",3.5,3.6,3.6,3.5,3.8,3.6,3.6,4.2,4.0,3.9,3.9,:,LTU,Y15-74,PC_ACT,F,BG,LTU
3,"SA,Y25-74,F,PC_ACT,CH",4.0,3.8,3.6,3.7,4.0,4.1,4.1,4.0,4.1,4.2,:,:,LTU,Y15-74,PC_ACT,F,CH,LTU
4,"SA,Y25-74,F,PC_ACT,CY",7.0,6.8,6.6,6.3,6.0,5.6,5.9,7.3,7.3,6.1,5.3,:,LTU,Y15-74,PC_ACT,F,CY,LTU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,"SA,Y25-74,T,PC_ACT,SI",4.5,4.1,3.8,3.5,3.8,3.7,3.8,4.3,4.3,4.3,4.2,:,LTU,Y15-74,PC_ACT,T,SI,LTU
111,"SA,Y25-74,T,PC_ACT,SK",5.0,4.9,4.9,4.9,5.4,5.4,5.2,5.7,5.8,5.8,5.9,:,LTU,Y15-74,PC_ACT,T,SK,LTU
112,"SA,Y25-74,T,PC_ACT,TR",11.6,11.5,11.2,11.1,10.7,10.6,10.8,11.5,11.8,:,:,:,LTU,Y15-74,PC_ACT,T,TR,LTU
113,"SA,Y25-74,T,PC_ACT,UK",2.7,2.7,2.6,2.7,2.8,2.8,2.7,2.6,2.6,:,:,:,LTU,Y15-74,PC_ACT,T,UK,LTU
114,"SA,Y25-74,T,PC_ACT,US",2.9,2.9,2.9,2.8,2.9,2.9,3.5,13.1,11.6,9.7,9.1,:,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
# Strip column names of white spaces
harmonized25_74.columns = harmonized25_74.columns.str.strip()
harmonized25_74.columns

Index(['s_adj,age,sex,unit,geo\time', '2019M09', '2019M10', '2019M11',
       '2019M12', '2020M01', '2020M02', '2020M03', '2020M04', '2020M05',
       '2020M06', '2020M07', '2020M08', 'indic_em', 'Age_group', 'Unit', 'Sex',
       'Geo_time', 's_adj'],
      dtype='object')

In [91]:
harmonized25_74_copy = harmonized25_74[['s_adj', 'Age_group', 'Unit','Sex', 'Geo_time', '2019M09 ', '2019M10 ', '2019M11 ', '2019M12 ', '2020M01 ', '2020M02 ', '2020M03 ', '2020M04 ', '2020M05 ', '2020M06 ', '2020M07 ', '2020M08 ']]
harmonized25_74_copy

AttributeError: 'DataFrame' object has no attribute 'str'