## 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [5]:
teilm021_cleaned = pd.read_csv('../data/cleaned/teilm021_cleaned.csv')
teilm021_cleaned.head()

,s_adj,age,sex,unit,geo_time,2019M09,2019M10,2019M11,2019M12,2020M01,2020M02,2020M03,2020M04,2020M05,2020M06,2020M07,2020M08
0,SA,Y_LT25,F,PC_ACT,AT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SA,Y_LT25,F,PC_ACT,BE,11.8,13.2,13.2,13.2,13.0,13.0,13.0,13.8,13.8,13.8,NaN,NaN
2,SA,Y_LT25,F,PC_ACT,BG,6.9,7.1,7.2,7.3,10.1,11.2,11.6,14.8,13.1,10.7,9.6,NaN
3,SA,Y_LT25,F,PC_ACT,CH,8.4,8.2,8.1,7.9,7.2,6.8,7.3,8.2,8.7,8.4,NaN,NaN
4,SA,Y_LT25,F,PC_ACT,CY,13.8,14.2,14.2,14.2,11.1,11.1,11.1,18.4,18.4,18.4,NaN,NaN

In [6]:
teilm022_cleaned = pd.read_csv('../data/cleaned/teilm022_cleaned.csv')
teilm022_cleaned.head()

,s_adj,age,sex,unit,geo_time,2019M09,2019M10,2019M11,2019M12,2020M01,2020M02,2020M03,2020M04,2020M05,2020M06,2020M07,2020M08
0,SA,Y25-74,F,PC_ACT,AT,3.7,3.8,3.7,3.7,3.7,3.6,3.7,4.0,4.2,4.1,3.9,NaN
1,SA,Y25-74,F,PC_ACT,BE,4.3,4.1,3.9,3.9,4.1,4.2,4.4,4.5,4.4,4.4,4.4,NaN
2,SA,Y25-74,F,PC_ACT,BG,3.5,3.6,3.6,3.5,3.8,3.6,3.6,4.2,4.0,3.9,3.9,NaN
3,SA,Y25-74,F,PC_ACT,CH,4.0,3.8,3.6,3.7,4.0,4.1,4.1,4.0,4.1,4.2,NaN,NaN
4,SA,Y25-74,F,PC_ACT,CY,7.0,6.8,6.6,6.3,6.0,5.6,5.9,7.3,7.3,6.1,5.3,NaN

## 2. Merge Files

In [9]:
teilm021_022_concat = pd.concat([teilm021_cleaned, teilm022_cleaned], axis = 0)
teilm021_022_concat.head()

,s_adj,age,sex,unit,geo_time,2019M09,2019M10,2019M11,2019M12,2020M01,2020M02,2020M03,2020M04,2020M05,2020M06,2020M07,2020M08
0,SA,Y_LT25,F,PC_ACT,AT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SA,Y_LT25,F,PC_ACT,BE,11.8,13.2,13.2,13.2,13.0,13.0,13.0,13.8,13.8,13.8,NaN,NaN
2,SA,Y_LT25,F,PC_ACT,BG,6.9,7.1,7.2,7.3,10.1,11.2,11.6,14.8,13.1,10.7,9.6,NaN
3,SA,Y_LT25,F,PC_ACT,CH,8.4,8.2,8.1,7.9,7.2,6.8,7.3,8.2,8.7,8.4,NaN,NaN
4,SA,Y_LT25,F,PC_ACT,CY,13.8,14.2,14.2,14.2,11.1,11.1,11.1,18.4,18.4,18.4,NaN,NaN

In [10]:
teilm021_cleaned.shape

(116, 17)

In [13]:
teilm022_cleaned.shape

(115, 17)

In [14]:
teilm021_022_concat.shape

(231, 17)

In [ ]:
teilm021_022_concat['average'] = teilm021_022_concat['2019M09'] + teilm021_022_concat['2019M10'] + teilm021_022_concat['2019M11'] + teilm021_022_concat['2019M12'] + teilm021_022_concat['2020M01'] + teilm021_022_concat['2020M02']+ teilm021_022_concat['2020M03'] + teilm021_022_concat[2020M04	2020M05	2020M06	2020M07	2020M08

## 3. Save New CSV

In [18]:
teilm021_022_concat.to_csv('../data/cleaned/teilm021_022_concat.csv')