In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_pickle("../data/output/filtered_sex_country.pkl")

In [3]:
df.head()

sex     F     M     T
geo
AT   3.83  4.15  4.01
BE   4.24  4.83  4.56
BG   3.75  4.25  4.03
CH   3.96  3.71  3.81
CY   6.38  5.63  6.00

In [4]:
df.reset_index(inplace=True)

In [13]:
df.head()

sex geo     F     M     T
0    AT  3.83  4.15  4.01
1    BE  4.24  4.83  4.56
2    BG  3.75  4.25  4.03
3    CH  3.96  3.71  3.81
4    CY  6.38  5.63  6.00

In [11]:
df["geo"].unique()

array(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EA', 'EA18',
       'EA19', 'EE', 'EL', 'ES', 'EU27_2007', 'EU27_2020', 'EU28', 'FI',
       'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL',
       'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'TR', 'UK', 'US'],
      dtype=object)

Filter for Germany, Greece and the EU28 countries

In [23]:
df.loc[(df["geo"] == "EU28") | (df["geo"] == "DE")  | (df["geo"] == "EL")]

sex   geo      F      M      T
6      DE   3.16   3.67   3.44
12     EL  19.05  12.74  15.51
16   EU28   5.72   5.12   5.40






Greece: overall highest unemployment rate + big difference between female and mal