In [5]:
import os
import pandas as pd

def list_tsv():
    """Return list of tsv files"""
    base = os.path.join(os.pardir, "data")
    return [os.path.join(base, "tsv", x) 
            for x in os.listdir(os.path.join(base, "tsv"))]

In [7]:
df = pd.read_csv("../lfsa_pganws.tsv", sep="\t")

In [8]:
df.head()

,"unit,sex,citizen,age,wstatus,geo\time",2019,2018,2017,2016,2015,2014,2013,2012,2011,...,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995
0,"THS,F,EU15_FOR,Y15-19,ACT,AT",: u,: u,: u,: u,: u,: u,: u,: u,: u,...,: bc,: c,: c,: u,: c,:,: c,: c,: u,: c
1,"THS,F,EU15_FOR,Y15-19,ACT,BE",: u,: u,: bu,: u,: u,: u,: u,: u,: bu,...,: c,: c,: c,:,: c,: bc,: u,: u,: u,: u
2,"THS,F,EU15_FOR,Y15-19,ACT,CH",10.0,11.7,11.0,9.9,9.5,8.1,9.0,9.0,10.7,...,8.2,8.1,7.7,7.5 u,9.6 u,11.6,12.9,12.5,8.1 u,:
3,"THS,F,EU15_FOR,Y15-19,ACT,CY",: c,: u,: u,: u,: u,: u,: u,: u,: u,...,: u,: u,: u,: u,: u,: c,:,:,:,:
4,"THS,F,EU15_FOR,Y15-19,ACT,CZ",:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:

In [9]:
df.shape

(175604, 26)