In [1]:
import pandas as pd

In [19]:
df = pd.read_pickle("../data/pickles/teilm010.pkl")

In [20]:
df.head()

,s_adj,age,sex,unit,geo,2019m09,2019m10,2019m11,2019m12,2020m01,2020m02,2020m03,2020m04,2020m05,2020m06,2020m07,2020m08
0,SA,TOTAL,F,THS_PER,AT,88,89,88,90,92,91.0,93.0,101.0,104.0,102.0,96.0,NaN
1,SA,TOTAL,F,THS_PER,BE,117,113,110,110,115,117.0,120.0,125.0,124.0,123.0,121.0,NaN
2,SA,TOTAL,F,THS_PER,BG,56,58,58,57,61,59.0,59.0,72.0,68.0,64.0,64.0,NaN
3,SA,TOTAL,F,THS_PER,CH,106,100,97,98,102,102.0,104.0,103.0,105.0,106.0,NaN,NaN
4,SA,TOTAL,F,THS_PER,CY,16,16,16,15,14,13.0,13.0,17.0,18.0,15.0,13.0,NaN

In [18]:
df.shape

(115, 17)

In [ ]:
df.groupby("isced11").

In [13]:
df["age"].unique()

array(['Y15-74'], dtype=object)